* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
iframe {
  max-width: 100%;
}

body {
  height: 100vh;
  font-family: var(--base-font);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  background: var(--lightgrey);
  color: var(--dark);
}

.transition {
  transition: .3s;
}

@media (min-width: 1024px) {
  .hidden-md-plus {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hidden-sm-minus {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-sm-plus {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}