.accordion-section {
  padding: 97px 0;

  @media (max-width: 767px) {
    padding: 47px 0;
  }

  &__container {
    padding: 96px 40px 92px;
    border-radius: 32px;
    background: #fff;

    @media (max-width: 1199px) {
      border-radius: 28px;
    }

    @media (max-width: 1023px) {
      border-radius: 24px;
    }

    @media (max-width: 991px) {
      border-radius: 20px;
    }

    @media (max-width: 767px) {
      padding: 57px 23px;
      border-radius: 15px;
    }
  }

  &__title-wrapper {
    text-align: center;
  }

  &__title {
    margin-bottom: 38px;

    @media (max-width: 767px) {
      margin-bottom: 11px;
    }
  }

  &__items {
    width: 1047px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  &__item {
    &+& {
      margin-top: 15px;

      @media (max-width: 767px) {
        margin-top: 11px;
      }
    }
  }

  &--transparent-style {
    .accordion-section__container {
      background: transparent;
    }
  }
}