.achievement-block {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  grid-template-areas: "icon title"
    "icon text";
  gap: 6px 12px;

  &__icon-wrapper {
    grid-area: icon;
    display: grid;
    place-content: center;
    width: 72px;
    height: 72px;
    padding: 15px;
    background: rgba(45, 193, 167, 0.11);
    border-radius: 17px;
  }

  &__icon {
    height: auto;
  }

  &__title {
    font-size: 19px;
  }

  &__text {
    color: var(--darkgreen);
    font-weight: 500;
    font-size: 37px;
  }
}