.activity-block {
  position: relative;
  max-height: 404px;
  padding: 32px;
  border: 1px solid transparent;
  border-radius: 32px;
  background: var(--lightgrey);
  overflow: hidden;
  @extend .transition;

  @media (max-width: 1199px) {
    padding: 28px;
  }

  @media (max-width: 1023px) {
    padding: 24px;
  }

  @media (max-width: 767px) {
    min-height: 360px;
    padding: 20px;
    box-shadow: var(--shadow);
  }

  &__icon {
    display: block;
    width: 136px;
    height: 136px;
    margin-bottom: 32px;
    object-fit: cover;
    @extend .transition;

    @media (max-width: 1199px) {
      width: 112px;
      height: 112px;
      margin-bottom: 24px;
    }

    @media (max-width: 1023px) {
      width: 88px;
      height: 88px;
      margin-bottom: 20px;
    }

    @media (max-width: 767px) {
      width: 64px;
      height: 64px;
    }
  }

  &__title {
    @extend .grad-text;
    max-width: 280px;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 1.3125;

    @media (max-width: 1199px) {
      font-size: 28px;
    }

    @media (max-width: 1023px) {
      margin-bottom: 20px;
      font-size: 24px;
    }

    @media (max-width: 767px) {
      margin-bottom: 16px;
      font-size: 20px;
    }
  }

  &::after {
    @media (min-width: 768px) {
      content: '';
      position: absolute;
      right: 32px;
      bottom: 0;
      left: 32px;
      height: 56px;
      background: linear-gradient(180deg, rgba(243, 243, 243, 0.56) 0%, var(--lightgrey) 55.62%);
      transition: .3s;
    }
  }

  &:hover {
    // border: 2px solid rgba(45, 193, 167, 0.24);
    // box-shadow: var(--shadow);
    box-shadow: 0 0 0 2px rgba(45, 193, 167, 0.24);
    border-color: var(--mintgreen);

    .activity-block__icon {
      width: 64px;
      height: 64px;
    }

    .activity-block__title {
      color: var(--mintgreen);
      background: none;
      -webkit-background-clip: initial;
      -webkit-text-fill-color: currentcolor;
      background-clip: initial;
      text-fill-color: currentcolor;
      color: var(--mintgreen);
      // background: linear-gradient(90deg, #fff 0%, var(--mintgreen) 100%);
    }

    &::after {
      opacity: 0;
      visibility: hidden;
    }
  }
}