.advantage-block {
  position: relative;
  padding: 32px;
  border: 1px solid transparent;
  border-radius: 32px;
  background: #fff;
  box-shadow: var(--shadow);
  @extend .transition;

  @media (max-width: 1199px) {
    padding: 28px;
    border-radius: 28px;
  }

  @media (max-width: 1023px) {
    padding: 24px;
    border-radius: 24px;
  }

  @media (max-width: 767px) {
    min-height: 368px;
    padding: 20px;
    border-radius: 20px;
  }

  &__icon-wrapper {
    display: block;
    width: 64px;
    height: 64px;
    margin-bottom: 56px;

    @media (max-width: 1199px) {
      margin-bottom: 48px;
    }

    @media (max-width: 1023px) {
      margin-bottom: 40px;
    }

    @media (max-width: 767px) {
      margin-bottom: 32px;
    }

    svg path {
      @extend .transition;
    }
  }

  &__title {
    @extend .grad-text;
    max-width: 280px;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.29166667;

    @media (max-width: 1023px) {
      font-size: 22px;
    }

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__text {
    color: #525252;
    font-size: 16px;
    line-height: 1.5;
  }

  &:hover {
    box-shadow: 0 0 0 2px rgba(45, 193, 167, 0.24);
    border-color: var(--mintgreen);

    .advantage-block__title {
      background: none;
      -webkit-background-clip: currentcolor;
      -webkit-text-fill-color: inherit;
      background-clip: currentcolor;
      text-fill-color: inherit;
      color: var(--mintgreen);
    }

    .advantage-block__icon-wrapper {
      svg path {
        stroke: var(--mintgreen);
      }
    }
  }
}