.banner-section {
  display: grid;
  grid-template-areas: "wrapper";
  grid-template-columns: 100%;
  padding: 32px 0;

  &__container,
  &::before {
    grid-area: wrapper;
  }

  &::before {
    content: '';
    background: #fff;
  }
}