.breadcrumbs {
  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    font-size: 14px;
    line-height: 1.85714286;

    &:not(:last-child)::after {
      content: '/';
      margin: 0 3px;
      opacity: 0.3;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    opacity: 0.3;
  }

  &__text {
    // font-weight: 600;
    opacity: 0.7;
  }
}