.btn-white {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 9.5px 20px;
  border: none;
  outline: none;
  background: #fff;
  color: var(--darkgreen);
  border-radius: 12px;
  font-family: var(--base-font);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  @extend .transition;

  &:hover {
    background: var(--dark);
    color: var(--lightgreen);
  }

  &--padding-6 {
    padding: 6px;
  }

  &--padding-10 {
    padding: 10px;
  }

  &--social {
    padding: 10px;

    @media (max-width: 767px) {
      padding: 14px;
    }
  }

  &--arrow-rect {
    gap: 27px;
    padding: 3px 3px 3px 27px;
    border-radius: 10px;
    font-weight: 500;

    &::after {
      content: '';
      width: 45px;
      height: 45px;
      border-radius: 10px;
      background: var(--darkgreen) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill='%23fff' d='M15.85 1a1 1 0 0 0-1-1h-9a1 1 0 1 0 0 2h8v8a1 1 0 1 0 2 0zM.706 15.143l.707.707L15.556 1.708 14.85 1l-.707-.707L0 14.436z'/%3E%3C/svg%3E") center / 16px auto no-repeat;
    }

    &:hover {
      &::after {
        background: var(--dark) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill='%23fff' d='M15.85 1a1 1 0 0 0-1-1h-9a1 1 0 1 0 0 2h8v8a1 1 0 1 0 2 0zM.706 15.143l.707.707L15.556 1.708 14.85 1l-.707-.707L0 14.436z'/%3E%3C/svg%3E") center / 16px auto no-repeat;
      }
    }
  }
}