.budget-section {
  padding: 74px 0;
  background: #fff;

  @media (max-width: 1199px) {
    padding: 50px 0;
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 767px) {
      grid-template-columns: 100%;
    }
  }
}