.checkmarks-list {
  list-style: none;

  &__item {
    padding-left: 32px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill='%232dc1a7' d='M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2m4.78 7.7-5.67 5.67a.75.75 0 0 1-1.06 0l-2.83-2.83a.754.754 0 0 1 0-1.06c.29-.29.77-.29 1.06 0l2.3 2.3 5.14-5.14c.29-.29.77-.29 1.06 0s.29.76 0 1.06'/%3E%3C/svg%3E") left top 6px / 19px auto no-repeat;
    font-size: 25px;
    color: #282828;

    @media (max-width: 1199px) {
      font-size: 20px;
    }

    @media (max-width: 1023px) {
      padding-left: 26px;
      background-position: left top 3px;
      background-size: 16px auto;
      font-size: 15px;
    }

    @media (max-width: 767px) {
      padding-bottom: 2px;
      padding-left: 27px;
      background-position: left top;
      background-size: 18px auto;
      font-size: 12px;
    }

    & + & {
      margin-top: 21px;

      @media (max-width: 1199px) {
        margin-top: 18px;
      }

      @media (max-width: 767px) {
        margin-top: 19px;
      }
    }
  }

  &--small {
    .checkmarks-list__item {
      padding-left: 19px;
      background-position: left top;
      background-size: 16px auto;
      font-size: 14px;

      @media (max-width: 767px) {
        padding-top: 2px;
        padding-left: 24px;
        background-size: 18px auto;
        font-size: 12px;
      }

      & + .checkmarks-list__item {
        margin-top: 12px;

        @media (max-width: 767px) {
          margin-top: 10px;
        }
      }
    }
  }

  &--what-we-deliver-block {
    .checkmarks-list__item {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Crect width='20' height='20' x='4' y='4' fill='%2379cc3d' rx='10' shape-rendering='crispEdges'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10.25 13.57 3 2.68 4.5-4.5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='28' height='28' x='0' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_2641_818'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_2641_818' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      background-size: 27px;
      background-position: 0 -1px;
      font-size: 16px;
      line-height: 1.625;
      color: #fff;

      & + .checkmarks-list__item {
        margin-top: 15px;
      }
    }
  }
}