.contact-form-section {
  padding: 24px 0 87px;

  @media (max-width: 767px) {
    padding: 10px 0 50px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    // grid-template-columns: 422px 1fr;
    gap: 40px;
    padding: 52px 72px 66px;
    background: #fff;
    border-radius: 20px;

    @media (max-width: 1199px) {
      gap: 24px;
      padding: 36px 48px 56px;
    }

    @media (max-width: 991px) {
      grid-template-columns: 100%;
      padding: 36px 32px 46px;
    }

    @media (max-width: 767px) {
      padding: 27px;
      border-radius: 15px;
    }
  }

  &__text-wrapper {
    max-width: 422px;
  }

  &__title-wrapper {
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 33px;
    font-size: 18px;
    line-height: 1.44;
    color: #525252;

    @media (max-width: 1199px) {
      margin-bottom: 24px;
      font-size: 17px;
    }

    @media (max-width: 1023px) {
      font-size: 16px;
    }
  }

  &__items {
    font-style: normal;
    margin-left: -8px;
  }

  &__item {
    & + & {
      margin-top: 2px;
    }
  }
}