.cooperation-options-section {
  padding: 106px 0 65px;

  @media (max-width: 1199px) {
    padding: 76px 0 60px;
  }

  @media (max-width: 1023px) {
    padding: 64px 0 53px;
  }

  @media (max-width: 767px) {
    padding: 50px 0 53px;
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 45px;
    padding: 0 30px 0 70px;

    @media (max-width: 1199px) {
      padding: 0 25px 0 50px;
    }

    @media (max-width: 1023px) {
      padding: 0 20px 0 35px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 100%;
      gap: 8px;
      margin-bottom: 18px;
      padding: 0;
    }
  }

  &__title-wrapper {
    max-width: 500px;

    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }

  &__title {
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__description {
    max-width: 506px;
    font-size: 18px;
    line-height: 1.44;
    color: #696969;

    @media (max-width: 1199px) {
      font-size: 17px;
    }

    @media (max-width: 767px) {
      margin: 0 auto;
      text-align: center;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 239px 1fr;
    gap: 24px;
    width: 1280px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 1199px) {
      gap: 20px;
    }
  }

  &__slider {
    @media (max-width: 767px) {
      margin-right: -16px;
      margin-left: -16px;
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  &__conditions-block {
    margin: 65px auto 0;

    @media (max-width: 767px) {
      margin: 53px auto 0;
    }
  }

  &__compare-tabs {
    margin-right: auto;
    margin-left: auto;
  }

  &__recommended-model-block {
    align-self: center;
    margin-bottom: 26px;

    @media (max-width: 1023px) {
      margin: 22px 0;
    }
  }

  &--model-comparison-style {
    padding: 67px 0 72px;
    background: #fff;

    @media (max-width: 767px) {
      padding: 54px 0 50px;
    }

    .cooperation-options-section__container {
      padding: 98px 40px 80px 40px;
      border-radius: 32px;
      background: url("images/how_we_work_bg@2x.webp") -40px -90px / calc(100% + 80px) calc(100% + 180px) no-repeat;

      @media (max-width: 1199px) {
        padding: 75px 30px 60px 30px;
        border-radius: 28px;
      }

      @media (max-width: 1023px) {
        padding: 55px 24px 50px 24px;
        border-radius: 24px;
      }

      @media (max-width: 767px) {
        padding: 45px 16px 50px 16px;
        background: url("images/how_we_work_bg@2x.webp") -40px -145px / calc(100% + 80px) calc(100% + 300px) no-repeat;
        border-radius: 15px;
      }
    }

    .cooperation-options-section__header {
      grid-template-columns: 100%;
      gap: 9px;
      margin-bottom: 25px;

      @media (max-width: 767px) {
        gap: 12px;
        padding: 0 6px;
      }
    }

    .cooperation-options-section__title-wrapper {
      max-width: 670px;
      margin: 0 auto;
    }

    .cooperation-options-section__title {
      @media (max-width: 767px) {
        line-height: 1.3846;
        text-align: left;
      }
    }

    .cooperation-options-section__description {
      max-width: 515px;
      margin: 0 auto;
      text-align: center;

      @media (max-width: 767px) {
        text-align: left;
      }
    }

    .cooperation-options-section__items {
      grid-template-columns: 1fr 286px 1fr;
      // align-items: center;
      gap: 0;

      @media (max-width: 1199px) {
        grid-template-columns: 1fr 200px 1fr;
      }

      @media (max-width: 1023px) {
        // grid-template-columns: 1fr 160px 1fr;
        grid-template-columns: 100%;
        width: 310px;
      }

      @media (max-width: 767px) {
        // grid-template-columns: 100%;
      }
    }
  }

  &--ways-to-run-style {
    padding: 40px 0 72px;

    @media (max-width: 767px) {
      padding: 20px 0 30px;
    }

    .cooperation-options-section__header {
      grid-template-columns: 100%;
      gap: 13px;
      margin-bottom: 44px;

      @media (max-width: 1199px) {
        margin-bottom: 36px;
      }

      @media (max-width: 1023px) {
        margin-bottom: 30px;
      }

      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    }

    .cooperation-options-section__title-wrapper {
      max-width: 670px;
      margin: 0 auto;
    }

    .cooperation-options-section__description {
      max-width: 515px;
      margin: 0 auto;
      text-align: center;
    }

    .cooperation-options-section__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}