.footer {
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    gap: 44px 24px;
    padding: 32px;
    border-radius: 32px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1400 412' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='%23005E59' d='M1348 20c17.67 0 32 14.327 32 32v308c0 17.673-14.33 32-32 32H52c-17.673 0-32-14.327-32-32V104c0-8.837 7.163-16 16-16h136c8.837 0 16-7.163 16-16V36c0-8.837 7.163-16 16-16h1144Z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='1400' height='412' x='0' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.02 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_771_910'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_771_910' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") -20px -20px / 1398px no-repeat;
    color: #fff;

    @media (max-width: 1199px) {
      padding: 28px;
      border-radius: 28px;
    }

    @media (max-width: 1023px) {
      padding: 24px;
      border-radius: 24px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 100%;
      gap: 20px;
      padding: 20px;
      border-radius: 20px;
      // background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='375' height='486' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='%23005E59' d='M339 20c11.046 0 20 8.954 20 20v406c0 11.046-8.954 20-20 20H36c-11.046 0-20-8.954-20-20V98c0-8.837 7.163-16 16-16h100c8.837 0 16-7.163 16-16V36c0-8.837 7.163-16 16-16h175Z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='383' height='486' x='-4' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.02 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_771_3137'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_771_3137' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") left -30px / calc(100% + 20px) auto no-repeat;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 69px;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 32px;
      background: var(--darkgreen);
    }

    // background: var(--darkgreen);
    // clip-path: path("M0 0 H100% V100% Q0 100% 0 90% V0 Z");
    // background: url('images/footer_bg.webp') center no-repeat;
    // -webkit-mask-image: radial-gradient(circle 40px at bottom left, transparent 39px, black 40px);
    // mask-image: radial-gradient(circle 40px at bottom left, transparent 39px, black 40px);

    // -webkit-mask-composite: destination-out;
    // mask-composite: exclude;
  }

  &__top {
    min-height: 56px;
    margin-top: -32px;
    margin-left: -32px;

    @media (max-width: 1199px) {
      margin-top: -28px;
      margin-left: -28px;
    }

    @media (max-width: 1023px) {
      margin-top: -24px;
      margin-left: -24px;
    }

    @media (max-width: 767px) {
      margin-top: -20px;
      margin-left: -20px;
      margin-bottom: 12px;
    }

    @media (min-width: 767px) {
      grid-column: span 2;
    }
  }

  &__logo {
    display: grid;
    place-content: center;
    width: 156px;
    height: 56px;
    border-radius: 12px;
    background: var(--darkgreen);
  }

  &__site-description {
    max-width: 540px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;

    @media (max-width: 1199px) {
      font-size: 28px;
    }

    @media (max-width: 1023px) {
      font-size: 24px;
    }

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__social-buttons {
    @media (min-width: 768px) {
      justify-self: end;
    }

    &+* {
      @media (max-width: 767px) {
        margin-top: 20px;
      }
    }
  }

  &__contacts-list {
    list-style: none;
    font-size: 16px;
    line-height: 1.75;
  }

  &__contact-item {
    color: #fff;
    text-decoration: none;
  }

  &__copyright {
    font-size: 16px;
    line-height: 1.75;

    @media (min-width: 768px) {
      text-align: right;
    }
  }
}