.header {
  padding-top: 32px;

  @media (max-width: 1199px) {
    padding-top: 28px;
  }

  @media (max-width: 1023px) {
    padding-top: 24px;
  }

  @media (max-width: 767px) {
    padding-top: 12px;
  }

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 24px;
    height: 80px;
    padding: 17px 20px 17px 24px;
    background: #FFF;
    box-shadow: var(--shadow);
    border-radius: 20px;

    @media (max-width: 1023px) {
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
    }

    @media (max-width: 767px) {
      height: auto;
      padding: 14px 0;
      background: transparent;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 8px;
  }
}