.header {
  padding-top: 32px;

  @media (max-width: 1199px) {
    padding-top: 28px;
  }

  @media (max-width: 1023px) {
    padding-top: 24px;
  }

  @media (max-width: 767px) {
    padding-top: 12px;
  }

  @media (min-width: 768px) {
    position: sticky;
    z-index: 1000;
    top: -14px;
    transition: .3s;

    &--is-scrolled {
      .header__container {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 24px;
    height: 80px;
    padding: 17px 20px 17px 24px;
    background: #FFF;
    box-shadow: var(--shadow);
    border-radius: 20px;
    @extend .transition;

    @media (max-width: 1023px) {
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
    }

    @media (max-width: 767px) {
      height: auto;
      padding: 14px 0;
      background: transparent;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 8px;
  }
}

body.admin-bar {
  .header--is-scrolled {
    @media (min-width: 768px) {
      top: 18px;
    }
  }
}