.hero-section {
  padding: 32px 0 96px;

  @media (max-width: 1199px) {
    padding: 32px 0 80px;
  }

  @media (max-width: 767px) {
    padding: 0 0 64px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1.41443fr 1fr;
    gap: 20px;

    @media (max-width: 1199px) {
      max-width: 785px;
      grid-template-columns: 100%;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__slider-block,
  &__company-review-slider-block {
    min-width: 0;
  }

  &__slider-block {
    grid-row: span 2;
  }

  &__slider-block,
  &__service-blocks {
    @media (max-width: 1199px) {
      order: -1;
    }
  }

  &__service-blocks,
  &__text-block,
  &__company-review-slider-block {
    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }

  &__service-block-slider-wrapper {
    @media (max-width: 767px) {
      margin-top: 36px;
      margin-right: -16px;
      margin-left: -15px;
    }
  }

  &__hero-block-wrapper {
    grid-row: span 2;
  }

  &--style-2 {
    padding: 24px 0 100px;

    @media (max-width: 1199px) {
      padding: 24px 0 80px;
    }

    @media (max-width: 1023px) {
      padding: 24px 0 60px;
    }

    .hero-section__container {
      @media (min-width: 1200px) {
        grid-template-columns: 2.04fr 1fr;
      }
    }

    .hero-section__text-block {
      @media (max-width: 767px) {
        margin-top: 0;
      }
    }

    .hero-section__service-blocks {
      @media (min-width: 1200px) {
        grid-column: span 2;
      }

      @media (max-width: 1023px) {
        order: 0;
        margin-top: 0;
      }
    }

    .hero-section__company-review-slider-block {
      @media (max-width: 767px) {
        order: 1;
        margin-top: 0;
      }
    }
  }
}