.hero-banner-section {
  padding: 25px 0;

  @media (max-width: 767px) {
    padding: 25px 0 20px;
  }

  &__container {
    display: grid;

    @media (min-width: 992px) {
      grid-template-areas: "wrapper";
    }

    @media (max-width: 991px) {
      gap: 20px;
    }
  }

  &__banner,
  &__buttons {
    @media (min-width: 992px) {
      grid-area: wrapper;
    }
  }

  &__buttons {
    z-index: 1;
    align-self: end;

    @media (max-width: 767px) {
      grid-template-columns: 56px 1fr;
    }
  }
}