.hero-thumbs-slider {
  &__img-wrapper {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: #57C9B7;
    overflow: hidden;
    cursor: pointer;
    @extend .transition;

    @media (max-width: 767px) {
      width: 56px;
      height: 56px;
      border-radius: 16px;
      background: #fff;
    }
  }

  &__img {
    height: auto;
    object-fit: cover;
  }

  &__slides {
    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &__slide {
    @media (max-width: 767px) {
      width: auto;
    }

    &.swiper-slide-thumb-active .hero-thumbs-slider__img-wrapper {
      border-color: #C3EDE5;

      @media (max-width: 767px) {
        border-color: var(--mintgreen);
      }
    }
  }
}