.hero-banner {
  display: grid;
  grid-template-areas: "wrapper";
  border-radius: 20px;
  background: #005E59;
  color: #fff;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1362 425'%3E%3Cpath fill='%23005e59' d='M0 338.5V20C0 8.954 8.954 0 20 0h1322c11.05 0 20 8.954 20 20v385c0 11.046-8.95 20-20 20H380.5c-11.046 0-20-8.954-20-20v-26.5c0-11.046-8.954-20-20-20H20c-11.046 0-20-8.954-20-20'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  // mask-size: cover;
  // mask-size: auto 100%;
  // mask-position: bottom center;

  &__text-wrapper,
  &__img-wrapper {
    grid-area: wrapper;
  }

  &__text-wrapper {
    max-width: 660px;
    min-height: 425px;
    z-index: 1;
    padding: 30px 40px 37px;
  }

  &__breadcrumbs {
    margin-bottom: 42px;
  }

  &__title {
    margin-bottom: 26px;
    font-size: 36px;
    line-height: 1.22;
  }

  &__title-highlighted {
    margin-left: -8px;
    padding: 0 11px;
    background: #2DC1A7;
    border-radius: 8px;
    color: var(--dark);
    text-shadow: var(--text-shadow);
  }

  &__text {
    max-width: 549px;
    font-size: 18px;
    line-height: 1.44;
    text-shadow: var(--text-shadow);
  }

  &__img {
    height: auto;
    vertical-align: middle;
  }
}