.hero-slider-block {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "wrapper";
  filter: var(--drop-shadow);

  @media (max-width: 767px) {
    gap: 20px;
  }

  &__slider-wrapper,
  &__buttons {
    @media (min-width: 768px) {
      grid-area: wrapper;
    }
  }

  &__buttons {
    z-index: 1;
    align-self: end;
    justify-self: start;
    margin-bottom: 4px;

    @media (max-width: 767px) {
      justify-self: center;
    }
  }

  &__slider-wrapper {
    position: relative;
  }

  &__thumbs-slider-wrapper {
    @media (min-width: 768px) {
      position: absolute;
      bottom: 96px;
      left: 40px;
      width: 248px;
      z-index: 10;
    }
  }

  &:hover {
    .hero-slider-block__btn {
      background: var(--dark);
      color: var(--lightgreen);
    }
  }
}