.industries-we-know-section {
  padding: 105px 0;

  @media (max-width: 1199px) {
    padding: 80px 0;
  }

  @media (max-width: 1023px) {
    padding: 60px 0;
  }

  @media (max-width: 767px) {
    padding: 36px 0;
  }

  &__container {
    width: 1215px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  &__title-wrapper,
  &__description {
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__title-wrapper {
    margin-bottom: 18px;
  }

  &__description {
    max-width: 567px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.44;
    color: #696969;

    @media (max-width: 1199px) {
      margin-bottom: 40px;
    }

    @media (max-width: 1023px) {
      margin-bottom: 30px;
      font-size: 17px;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__tabs {
    display: grid;
    grid-template-columns: 383px 1fr;
    align-items: start;
    gap: 32px;

    @media (max-width: 1199px) {
      grid-template-columns: 320px 1fr;
      gap: 24px;
    }

    @media (max-width: 1023px) {
      grid-template-columns: 280px 1fr;
      gap: 20px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 100%;
    }
  }

  &__tab-list {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;

    @media (max-width: 767px) {
      gap: 7px;
    }
  }

  &__tab-panel {
    display: none;

    @media (max-width: 767px) {
      &.show {
        margin-bottom: 10px;
      }
    }
  }
}