.industries-we-know-block-wrapper {
  display: grid;
  grid-template-areas: "wrapper";
  grid-template-columns: 100%;

  &__block,
  &__buttons-list {
    grid-area: wrapper;
  }

  &__buttons-list {
    z-index: 1;
    justify-self: end;
    align-self: end;
  }
}