.info-slider {
  &__slides {
    @media (max-width: 767px) {
      align-items: stretch;
    }
  }

  &__slide {
    height: auto;
  }

  &__block {
    @media (max-width: 767px) {
      display: grid;
      grid-template: auto 1fr / 100%;
      height: 100%;
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  // position: relative;

  // &__prev-btn,
  // &__next-btn {
  //   position: absolute;
  //   bottom: 60px;
  //   z-index: 10;
  // }

  // &__prev-btn {
  //   left: 56px;
  // }

  // &__next-btn {
  //   left: 116px;
  // }

  &__buttons-list {
    position: absolute;
    left: 56px;
    bottom: 64px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}