.info-slider {
  &__slides {
    @media (max-width: 767px) {
      align-items: stretch;
    }
  }

  &__slide {
    height: auto;
  }

  &__block {
    @media (max-width: 767px) {
      display: grid;
      grid-template: auto 1fr / 100%;
      height: 100%;
    }
  }

  // position: relative;

  // &__prev-btn,
  // &__next-btn {
  //   position: absolute;
  //   bottom: 60px;
  //   z-index: 10;
  // }

  // &__prev-btn {
  //   left: 56px;
  // }

  // &__next-btn {
  //   left: 116px;
  // }
}