.offcanvas {
  position: fixed;
  z-index: 11;
  top: 0;
  bottom: 0;
  left: 0;
  width: 307px;
  max-width: 100%;
  background: #FFF;
  transform: translateX(-307px);
  @extend .transition;

  &__container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    gap: 20px;
    overflow: auto;
  }

  &__close-btn {
    position: absolute;
    right: -52px;
    top: 14px;
    width: 36px;
    height: 36px;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    @extend .transition;
  }

  &__header {
    padding: 14px 16px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.5);
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 8px;
  }

  &__footer {
    padding: 16px;
  }

  &--opened {
    transform: translateX(0);

    .offcanvas__close-btn {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: 767px) {
      // z-index: 12;
      z-index: 1002;
    }
  }
}