.problems-block {
  padding: 32px 230px 52px 38px;
  background: rgba(243, 243, 243, 0.69);
  border-radius: 35px;

  &__title-wrapper {
    display: grid;
    max-width: 360px;
    margin-bottom: 12px;
  }

  &__title {
    justify-self: start;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.225;
    text-transform: capitalize;

    background: linear-gradient(253.81deg, #038464 3.9%, #282828 92.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    opacity: 0.6;
  }

  &__list {
    list-style: none;
  }

  &__item {
    & + & {
      margin-top: 14px;
    }
  }
}