.results-block {
  padding: 51px 45px 45px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 849 398' fill='none'%3E%3Cpath fill='url(%23a)' fill-opacity='.26' d='M848.616 304.184h-67.142c-15.532 0-29.57 4.047-39.71 10.563-10.146 6.52-16.331 15.467-16.331 25.274v57.911h-1v-57.911c0-10.262 6.471-19.484 16.79-26.116 10.324-6.634 24.556-10.721 40.251-10.721h67.142zm-.001-11.922h-94.657c-15.8 0-30.082 4.116-40.397 10.746-10.322 6.633-16.617 15.737-16.617 25.716v69.164h-1v-69.164c0-10.435 6.581-19.813 17.076-26.557 10.499-6.748 24.975-10.905 40.938-10.905h94.657zm.001-11.867H726.568c-16.068 0-30.591 4.186-41.083 10.928-10.496 6.746-16.899 16.005-16.899 26.156v80.366h-1v-80.366c0-10.607 6.689-20.14 17.358-26.997 10.676-6.86 25.394-11.087 41.624-11.087h122.048zm0-11.817H699.3c-16.334 0-31.099 4.256-41.765 11.11-10.671 6.858-17.181 16.272-17.181 26.594V397.8h-1v-91.518c0-10.777 6.796-20.466 17.64-27.435 10.85-6.973 25.809-11.269 42.306-11.269h149.316zm0-11.762H672.155c-16.599 0-31.604 4.325-42.443 11.291-10.845 6.97-17.463 16.538-17.463 27.03v102.619h-1V295.137c0-10.948 6.904-20.791 17.922-27.871 11.023-7.085 26.222-11.45 42.984-11.45h176.461zm0-11.711H645.133c-16.863 0-32.107 4.394-43.119 11.471-11.018 7.081-17.743 16.803-17.743 27.464v113.67h-1V284.04c0-11.117 7.012-21.113 18.203-28.305 11.196-7.195 26.633-11.63 43.659-11.63h203.483zm.001-11.654H618.234c-17.125 0-32.606 4.462-43.791 11.65-11.189 7.191-18.021 17.066-18.021 27.896v124.671h-1V272.997c0-11.286 7.117-21.435 18.48-28.737 11.369-7.306 27.044-11.809 44.332-11.809h230.383zm-.001-11.603H591.457c-17.387 0-33.104 4.53-44.46 11.828-11.361 7.301-18.299 17.328-18.299 28.326v135.621h-1V262.002c0-11.454 7.224-21.755 18.758-29.168 11.54-7.416 27.451-11.986 45.001-11.986h257.159zm.001-11.547H564.806c-17.648 0-33.601 4.597-45.127 12.005-11.532 7.41-18.575 17.589-18.575 28.755v146.521h-1V251.061c0-11.622 7.33-22.074 19.035-29.596 11.71-7.526 27.857-12.164 45.667-12.164h283.811zm-.001-11.496H538.274c-17.906 0-34.094 4.665-45.79 12.181-11.701 7.52-18.848 17.849-18.848 29.181v157.371h-1V240.167c0-11.788 7.434-22.39 19.308-30.021 11.88-7.635 28.262-12.341 46.33-12.341h310.342zm0-11.444H511.867c-18.164 0-34.585 4.733-46.45 12.358-11.87 7.628-19.122 18.107-19.122 29.604v168.171h-1V229.323c0-11.953 7.539-22.705 19.582-30.445 12.049-7.743 28.664-12.517 46.99-12.517h336.749zm.001-11.388H485.585c-18.421 0-35.075 4.799-47.107 12.532-12.039 7.736-19.395 18.365-19.395 30.027v178.92h-1v-178.92c0-12.118 7.643-23.02 19.855-30.868 12.216-7.851 29.064-12.691 47.647-12.691h363.032zm-.001-11.336H459.423c-18.676 0-35.561 4.865-47.761 12.706-12.205 7.844-19.666 18.62-19.666 30.447v189.619h-1V207.79c0-12.282 7.746-23.333 20.125-31.288 12.384-7.959 29.463-12.865 48.302-12.865h389.193zm0-11.282h-415.23c-18.93 0-36.046 4.933-48.412 12.88-12.372 7.951-19.936 18.876-19.936 30.866v200.267h-1V197.101c0-12.446 7.849-23.645 20.395-31.707 12.551-8.066 29.86-13.039 48.953-13.039h415.23zm0-11.228H407.471c-19.184 0-36.528 4.997-49.061 13.052-12.538 8.057-20.203 19.129-20.203 31.282v210.866h-1V186.461c0-12.608 7.952-23.954 20.663-32.123 12.717-8.173 30.255-13.211 49.601-13.211h441.145zm-.001-11.176H381.678c-19.435 0-37.007 5.064-49.704 13.224-12.703 8.163-20.471 19.382-20.471 31.696v221.414h-1V175.871c0-12.77 8.054-24.262 20.93-32.537 12.881-8.279 30.647-13.383 50.245-13.383h466.937zm0-11.123H356.01c-19.686 0-37.485 5.129-50.347 13.395-12.867 8.269-20.736 19.633-20.736 32.108v231.911h-1V165.331c0-12.931 8.155-24.569 21.195-32.949 13.046-8.384 31.039-13.554 50.888-13.554h492.605zm.001-11.068H330.465c-19.935 0-37.96 5.193-50.986 13.564-13.03 8.375-21 19.884-21 32.52v242.358h-1V154.844c0-13.092 8.256-24.875 21.459-33.361 13.21-8.489 31.429-13.723 51.527-13.723h518.151zm-.001-11.016H305.042c-20.183 0-38.432 5.258-51.62 13.734-13.193 8.478-21.265 20.132-21.265 32.927v252.756h-1V144.405c0-13.251 8.357-25.178 21.724-33.768 13.372-8.594 31.815-13.893 52.161-13.893h543.573zm.002-10.963H279.744c-20.43 0-38.903 5.323-52.253 13.903-13.355 8.582-21.526 20.379-21.526 33.334v263.101h-1V134.018c0-13.41 8.457-25.482 21.985-34.176 13.534-8.698 32.201-14.06 52.794-14.06h568.873zm-.001-10.91h-594.05c-20.675 0-39.371 5.387-52.881 14.07-13.517 8.686-21.788 20.627-21.788 33.739v273.397h-1V123.68c0-13.568 8.557-25.783 22.247-34.58 13.694-8.802 32.584-14.229 53.422-14.229h594.05zm0-10.855H229.513c-20.921 0-39.838 5.45-53.509 14.236-13.676 8.79-22.046 20.872-22.046 34.141v283.644h-1V113.393c0-13.725 8.656-26.081 22.506-34.982 13.855-8.904 32.965-14.395 54.049-14.395h619.103zm0-10.803H204.583c-21.164 0-40.301 5.514-54.132 14.402-13.836 8.892-22.304 21.116-22.305 34.541v293.84h-1v-293.84c.001-13.88 8.755-26.378 22.764-35.382 14.015-9.006 33.346-14.561 54.673-14.561h644.033zm-.001-10.748h-668.84c-21.406 0-40.762 5.577-54.752 14.567-13.994 8.994-22.561 21.36-22.561 34.94v303.985h-1V92.973c0-14.037 8.852-26.676 23.02-35.782 14.174-9.108 33.725-14.726 55.293-14.726h668.84zm.001-10.697H155.092c-21.647 0-41.221 5.64-55.368 14.731-14.153 9.095-22.818 21.6-22.818 35.337v314.08h-1V82.836c0-14.192 8.95-26.971 23.277-36.178 14.331-9.21 34.099-14.89 55.909-14.89h693.524zm-.001-10.643H130.53c-21.887 0-41.679 5.703-55.983 14.895-14.31 9.197-23.071 21.84-23.071 35.731v324.125h-1V72.751c0-14.346 9.047-27.265 23.53-36.572 14.488-9.312 34.475-15.054 56.524-15.054h718.085zm.001-10.588H106.093c-22.126 0-42.133 5.764-56.594 15.058-14.466 9.297-23.324 22.08-23.324 36.124v334.119h-1V62.718c0-14.498 9.144-27.556 23.783-36.964 14.645-9.412 34.847-15.217 57.135-15.217h742.523zm0-10.537H81.778C59.415 1 39.193 6.826 24.576 16.22 9.954 25.617 1 38.538 1 52.734v344.063H0V52.734c0-14.651 9.24-27.848 24.035-37.356C38.835 5.866 59.253 0 81.778 0h766.838z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='702.913' x2='381.176' y1='100.476' y2='527.015' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='.16'/%3E%3Cstop offset='.452' stop-color='%23fff' stop-opacity='.3'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='.09'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") right center / cover no-repeat, linear-gradient(64.12deg, #005E59 -4.29%, #2DC1A7 100%);
  border-radius: 35px;

  @media (max-width: 1199px) {
    padding: 36px 36px 40px;
    border-radius: 28px;
  }

  @media (max-width: 1023px) {
    padding: 30px 30px 36px;
    border-radius: 22px;
  }

  @media (max-width: 767px) {
    padding: 24px 24px 26px;
    border-radius: 18px;
  }

  &__title-wrapper {
    display: grid;
    max-width: 360px;
    margin-bottom: 16px;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &__title {
    justify-self: start;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.225;
    text-transform: capitalize;
    color: #fff;

    @media (max-width: 1199px) {
      font-size: 28px;
    }

    @media (max-width: 1023px) {
      font-size: 24px;
      line-height: 1.3;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    & + & {
      margin-top: 10px;

      @media (max-width: 767px) {
        margin-top: 15px;
      }
    }
  }
}