.running-systems-slider {
  border-radius: 20px;
  
  &__slide {
    border-radius: inherit;
  }

  &__pagination {
    position: static;
    margin-top: 10px;
    text-align: left;

    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      margin-top: 27px;
    }
  }
}