.section-title {
  font-weight: 500;
  font-size: clamp(24px, 3.6vw, 51px);
  line-height: 1.09375;
  text-align: center;
  text-transform: capitalize;

  @media (max-width: 767px) {
    line-height: 1.25;
  }

  &--left {
    text-align: left;
  }
}