.section {
  padding: 92px 0;

  @media (max-width: 1199px) {
    padding: 75px 0;
  }

  @media (max-width: 1023px) {
    padding: 60px 0;
  }

  @media (max-width: 767px) {
    padding: 42px 0;
  }

  &__title {
    margin: 0 auto 20px;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &__description {
    max-width: 540px;
    margin: 0 auto 57px;

    @media (max-width: 1199px) {
      margin-bottom: 40px;
    }

    @media (max-width: 1023px) {
      margin-bottom: 30px;
    }
  }

  &__steps-wrapper {
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1.17fr 1fr;
      gap: 115px;
    }

    @media (max-width: 1199px) {
      gap: 36px;
    }

    @media (max-width: 1023px) {
      margin-right: -24px;
      margin-left: -24px;
    }

    @media (max-width: 767px) {
      margin-right: -16px;
      margin-left: -16px;
    }
  }

  &__step-imgs {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "wrapper";

    @media (max-width: 1023px) {
      padding-right: 24px;
      padding-left: 24px;
    }

    @media (max-width: 767px) {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  &__step-img {
    grid-area: wrapper;
    height: auto;
    border-radius: 32px;
    opacity: 0;
    visibility: hidden;
    @extend .transition;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__mail-clients {
    margin-bottom: 45px;
    text-align: center;

    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &__mail-clients-img {
    max-height: 56px;
  }

  &__demo-btn-wrapper {
    margin-bottom: 58px;
    text-align: center;

    @media (max-width: 767px) {
      margin-bottom: 42px;
    }
  }

  &__solution-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;

    @media (max-width: 767px) {
      grid-template-columns: 100%;
    }
  }

  &__problems-block {
    margin-right: -108px;

    @media (max-width: 1199px) {
      margin-right: -50px;
    }

    @media (max-width: 1023px) {
      margin-right: -20px;
    }

    @media (max-width: 767px) {
      margin-right: 0;
    }
  }

  &__results-block {
    margin-top: 43px;
    margin-left: -108px;

    @media (max-width: 1199px) {
      margin-top: 36px;
      margin-left: -50px;
    }

    @media (max-width: 1023px) {
      margin-top: 24px;
      margin-left: -20px;
    }

    @media (max-width: 767px) {
      margin-top: 8px;
      margin-left: 0;
    }
  }

  &__results-table-wrapper {
    @media (max-width: 1023px) {
      margin-right: -24px;
      margin-left: -24px;
    }

    @media (max-width: 767px) {
      margin-right: -16px;
      margin-left: -16px;
    }
  }

  &__timeline {
    max-width: 1248px;
    margin: 0 auto;

    @media (max-width: 1023px) {
      margin-right: -24px;
      margin-left: -24px;
    }

    @media (max-width: 767px) {
      margin-right: -16px;
      margin-left: -16px;
    }
  }

  &__tariff-blocks {
    @media (max-width: 1023px) {
      margin-right: -24px;
      margin-left: -24px;
    }

    @media (max-width: 767px) {
      margin-right: -16px;
      margin-left: -16px;
    }
  }

  &--white {
    background: #fff;
  }

  &--text {
    .section__container {
      display: grid;
      grid-template-columns: 0.767fr 1fr;
      align-items: start;
      gap: 180px;

      @media (max-width: 1199px) {
        gap: 100px;
      }

      @media (max-width: 1023px) {
        gap: 40px;
      }

      @media (max-width: 767px) {
        grid-template-columns: 100%;
        gap: 21px;
      }
    }

    .section__title {
      max-width: 440px;
      margin: 0 0 20px;

      @media (max-width: 767px) {
        max-width: 240px;
        margin: 0 0 10px;
      }
    }

    .section__description {
      max-width: 100%;
      margin-bottom: 40px;

      @media (max-width: 1199px) {
        margin-bottom: 30px;
      }

      @media (max-width: 1023px) {
        margin-bottom: 20px;
      }
    }
  }

  &--text-reverse {
    .section__container {
      grid-template-columns: 0.93fr 0.767fr;
      gap: 130px;

      @media (max-width: 1199px) {
        gap: 100px;
      }

      @media (max-width: 1023px) {
        gap: 40px;
      }

      @media (max-width: 767px) {
        grid-template-columns: 100%;
        gap: 21px;
      }
    }
    
    .section__img-wrapper {
      @media (min-width: 768px) {
        order: -1;
      }
    }

    .section__title {
      max-width: 100%;
    }
  }

  &--steps {
    .section__title {
      max-width: 580px;

      @media (max-width: 767px) {
        max-width: 320px;
      }
    }

    .section__description {
      max-width: 420px;

      @media (max-width: 767px) {
        max-width: 280px;
        margin-bottom: 26px;
      }
    }
  }

  &--automation-solution {
    .section__title {
      max-width: 620px;

      @media (max-width: 767px) {
        max-width: 300px;
      }
    }

    .section__description {
      max-width: 820px;
      margin-bottom: 28px;

      @media (max-width: 767px) {
        margin-bottom: 22px;
      }
    }
  }

  &--proven-result-section {
    .section__title {
      @media (max-width: 767px) {
        max-width: 311px;
      }
    }

    .section__description {
      text-transform: capitalize;

      @media (max-width: 767px) {
        max-width: 350px;
        margin-bottom: 23px;
      }
    }
  }

  &--timeline {
    .section__title {
      max-width: 620px;

      @media (max-width: 767px) {
        line-height: 1.25;
      }
    }

    .section__description {
      max-width: 450px;
      margin-bottom: 45px;

      @media (max-width: 1199px) {
        margin-bottom: 40px;
      }

      @media (max-width: 1023px) {
        margin-bottom: 30px;
      }

      @media (max-width: 767px) {
        margin-bottom: 18px;
      }
    }
  }

  &--tariff {
    .section__title {
      max-width: 613px;

      @media (max-width: 767px) {
        max-width: 280px;
      }
    }

    .section__description {
      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    }
  }
}