.service-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: 1023px) {
    gap: 16px;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  &__item {
    @media (max-width: 767px) {
      &:nth-child(1) {
        grid-column: span 2;

        .service-block__title {
          max-width: 100%;
        }
      }
    }
  }
}