.service-block {
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  justify-items: center;
  gap: 16px;
  padding: 22px;
  border: 2px solid var(--border-color);
  border-radius: 24px;
  background: #fff;
  box-shadow: var(--shadow);
  text-align: center;
  transition: background .3s, border .3s;

  @media (max-width: 767px) {
    padding: 20px;
    border-radius: 20px;
  }

  &__img {
    width: auto;
    height: 100px;
    object-fit: cover;
  }

  &__title {
    max-width: 128px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
  }

  // &__glow:nth-child(1) {
  //   animation: move_glow1 2s linear infinite paused;
  //   will-change: transform;
  // }

  // &__glow:nth-child(2) {
  //   animation: move_glow2 2s linear infinite paused;
  //   will-change: transform;
  // }

  &:hover {
    // padding: 23px;
    // border-width: 1px;
    border-color: var(--mintgreen);
    background: #EEFAF8;
    box-shadow: 0 0 0 2px rgba(45, 193, 167, 0.24);
  }

  &--extended {
    display: grid;
    grid-template-areas: "wrapper";
    grid-template-columns: 100%;
    align-content: stretch;
    justify-items: stretch;
    padding: 0;
    border-radius: 24px;
    text-align: left;
    overflow: hidden;

    .service-block__img {
      display: block;
      width: 128px;
      height: 128px;
      margin: 0 -24px -24px auto;
    }

    .service-block__title {
      display: inline-grid;
      max-width: 210px;
      margin: 0;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;

      &--grad-style {
        background: linear-gradient(90deg, #EFEFEF 0%, #FFFFFF 82.21%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        text-shadow: var(--text-shadow);
      }
    }

    .service-block__front,
    .service-block__back {
      grid-area: wrapper;
      padding: 24px;
    }

    .service-block__front {
      position: relative;
      display: grid;
      grid-template-columns: 100%;
      align-content: space-between;
      background: linear-gradient(121deg, #93DCC5 0%, #C2ECCF 100%);
      @extend .transition;

      // &::after {
      //   content: '';
      //   position: absolute;
      //   bottom: -46px;
      //   left: -46px;
      //   width: 168px;
      //   height: 168px;
      //   background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='122' height='122' fill='none'%3E%3Crect width='166' height='166' x='-45' y='1' stroke='%23fff' stroke-opacity='.2' stroke-width='2' rx='79'/%3E%3Crect width='110' height='110' x='-17' y='29' stroke='%23fff' stroke-opacity='.2' stroke-width='2' rx='51'/%3E%3Crect width='64' height='64' x='6' y='52' fill='%23fff' fill-opacity='.12' rx='28'/%3E%3Crect width='62' height='62' x='7' y='53' stroke='%23fff' stroke-opacity='.16' stroke-width='2' rx='27'/%3E%3Cg filter='url(%23a)'%3E%3Cpath stroke='%23fff' stroke-miterlimit='10' stroke-opacity='.56' stroke-width='1.5' d='M41.405 90.599H34.58a1.875 1.875 0 1 1 0-3.75h1.753L30.09 80.52a1.875 1.875 0 0 1-.178-2.485 1.762 1.762 0 0 1 1.378-.637 1.726 1.726 0 0 1 1.266.515l3.806 3.807 3.825-2.87a1.79 1.79 0 0 1 2.344.17 16.107 16.107 0 0 1 3.89 6.318l.057.178'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='28' height='28' x='24' y='70' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.14 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_678_1819'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_678_1819' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") right top no-repeat;
      //   pointer-events: none;
      // }
    }

    .service-block__front-svg {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
    }

    .service-block__back {
      position: relative;
      opacity: 0;
      visibility: hidden;
      // background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(121deg, #93DCC5 0%, #C2ECCF 100%);
      // background: #10B2AE;
      background: #10B2AE url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='268' height='200' fill='none'%3E%3Cmask id='a' width='268' height='200' x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Crect width='267.5' height='200' fill='%23fff' rx='24'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cg filter='url(%23b)'%3E%3Cpath fill='%23F0FCAB' fill-opacity='.8' d='M36.454 70.02c10.642 1.659 18.617 2.998 22.594 3.657 6.037 5.357 8.015.68 10.024 1.68 3.987 1.658 8.004 3.677 11.312 6.675 1.33 1.679 2.61 4.083 1.3 5.326-6.686 6.346-14.693 14.302-22.326 27.332-5.666 9.674-14.762 18.805-13.29 28.641.349 2.338 1.514 4.488 3.347 5.986 3.657 2.988 37.163-2.625 55.633 6.655l.081.041c2 1.005 4.664 2.343 4.216 3.967-1.009 3.657-9.145 10.238-5.986 17.658 3.697 8.684 8.611 23.315 17.678 23.294 8.684-.02 18.464-.101 37.665-8.354 11.672-5.017 22.391-10.136 30.29-14.99 8.684-5.336 18.247-11.716 25.982-9.634 8.685 2.339 18.722 2.71 25.983 6.336 8.005 3.998 17.293 8.076 23.304 15.67 1.33 1.679 1.989 3.657 1.3 4.986-.69 1.33-2.724 1.842-4.677 2.659-8.005 3.347-17.348 7.66-23.644 17.678-5.667 9.014-10.491 18.688-18.328 28.321-8.684 10.673-16.049 20.811-24.324 25.963-9.664 6.016-42.845 19.095-57.622 7.625-7.325-5.687-11.768-19.56-21.985-29.331-8.005-7.655-15.2-14.518-23.984-17.968-9.364-3.677-64.184 8.504-84.623-9.683-5.986-5.327-12.629-10.347-12.622-16.689.02-17.958 7.406-26.78 7.005-35.936-.35-8.005-.926-16.364-5.346-23.984-5.037-8.684-20.255-14.001-21.316-24.354-.99-9.654-1.217-18.349 3.738-23.654C-12.843 85.609-4.76 79.287-.881 77.665 7.123 74.317 15.35 66.73 36.454 70.02Z'/%3E%3C/g%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%23F0FCAB' fill-opacity='.8' d='M199.054 82.053c-8.388-6.758-14.624-11.905-17.739-14.465-2.549-7.657-6.601-4.596-7.841-6.465-2.624-3.43-5.094-7.188-6.459-11.438-.312-2.118-.218-4.84 1.538-5.262 8.963-2.153 19.875-5.04 33-12.508 9.744-5.544 22.187-8.904 25.831-18.158.866-2.2.932-4.644.093-6.858-1.673-4.416-33.496-16.308-44.851-33.58l-.05-.076c-1.23-1.87-2.868-4.361-1.668-5.543 2.703-2.663 13.039-4.294 14.013-12.3 1.14-9.37 4.201-24.497-3.662-29.012-7.531-4.325-16.041-9.144-36.796-11.598-12.617-1.491-24.46-2.417-33.727-2.163-10.189.28-21.66 1.023-27.318-4.648-6.352-6.367-14.859-11.708-19.334-18.478-4.934-7.465-10.938-15.641-12.348-25.223-.311-2.118.107-4.162 1.369-4.968 1.261-.806 3.279-.233 5.379.036 8.606 1.103 18.854 2.04 29.316-3.487 9.414-4.974 18.428-10.94 30.032-15.363 12.858-4.901 24.305-9.999 34.047-10.323 11.377-.378 46.653 4.886 53.714 22.208 3.501 8.587.412 22.823 4.375 36.393 3.104 10.632 5.905 20.174 11.786 27.553 6.271 7.867 59.837 24.727 68.445 50.698 2.52 7.606 5.763 15.274 2.586 20.764-8.996 15.542-19.803 19.489-24.035 27.618-3.699 7.108-7.379 14.636-7.362 23.445.02 10.039 10.541 22.252 6.283 31.748-3.97 8.855-8.12 16.5-15.064 18.617-13.066 3.984-23.229 5.417-27.398 4.883-8.606-1.103-19.524 1.353-36.155-12.047Z'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='b' width='493.352' height='413.578' x='-126.996' y='-31.309' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_1439_1595' stdDeviation='50.26'/%3E%3CfeTurbulence baseFrequency='10.834455490112305 10.834455490112305' numOctaves='3' result='noise' seed='266' stitchTiles='stitch' type='fractalNoise'/%3E%3CfeColorMatrix in='noise' result='alphaNoise' type='luminanceToAlpha'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise1'%3E%3CfeFuncA tableValues='0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0' type='discrete'/%3E%3C/feComponentTransfer%3E%3CfeComposite in='coloredNoise1' in2='effect1_foregroundBlur_1439_1595' operator='in' result='noise1Clipped'/%3E%3CfeFlood flood-color='rgba(255, 255, 255, 0.06)' result='color1Flood'/%3E%3CfeComposite in='color1Flood' in2='noise1Clipped' operator='in' result='color1'/%3E%3CfeMerge result='effect2_noise_1439_1595'%3E%3CfeMergeNode in='effect1_foregroundBlur_1439_1595'/%3E%3CfeMergeNode in='color1'/%3E%3C/feMerge%3E%3C/filter%3E%3Cfilter id='c' width='443.5' height='465.094' x='-38.879' y='-270.363' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_1439_1595' stdDeviation='50.26'/%3E%3CfeTurbulence baseFrequency='10.834455490112305 10.834455490112305' numOctaves='3' result='noise' seed='266' stitchTiles='stitch' type='fractalNoise'/%3E%3CfeColorMatrix in='noise' result='alphaNoise' type='luminanceToAlpha'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise1'%3E%3CfeFuncA tableValues='0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0' type='discrete'/%3E%3C/feComponentTransfer%3E%3CfeComposite in='coloredNoise1' in2='effect1_foregroundBlur_1439_1595' operator='in' result='noise1Clipped'/%3E%3CfeFlood flood-color='rgba(255, 255, 255, 0.06)' result='color1Flood'/%3E%3CfeComposite in='color1Flood' in2='noise1Clipped' operator='in' result='color1'/%3E%3CfeMerge result='effect2_noise_1439_1595'%3E%3CfeMergeNode in='effect1_foregroundBlur_1439_1595'/%3E%3CfeMergeNode in='color1'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      @extend .transition;
    }

    .service-block__back-svg {
      position: absolute;
      inset: 0;
      z-index: 1;
    }

    .service-block__list {
      margin-top: 20px;
    }

    &:hover {
      box-shadow: var(--shadow);
      border-color: var(--border-color);

      .service-block__front {
        opacity: 0;
        visibility: hidden;
      }

      .service-block__back {
        opacity: 1;
        visibility: visible;
      }

      // .service-block__glow {
      //   animation-play-state: running;
      // }
    }
  }

  // &--animation-paused {
  //   .service-block__glow {
  //     animation-play-state: paused !important;
  //   }
  // }
}

// .rotate-cw,
// .rotate-ccw {
//   will-change: transform;
//   transform-box: fill-box;
//   transform-origin: center;
// }

// .rotate-cw {
//   animation: spin-cw 10s linear infinite;
// }

// .rotate-ccw {
//   animation: spin-ccw 12s linear infinite;
// }

// @keyframes spin-cw {
//   from { transform: rotate(0deg); }
//   to   { transform: rotate(360deg); }
// }

// @keyframes spin-ccw {
//   from { transform: rotate(0deg); }
//   to   { transform: rotate(-360deg); }
// }

// @keyframes move_glow1 {
//   0%   { transform: translate(-150px, 60px); }
//   25%  { transform: translate(200px, 0); }
//   50%  { transform: translate(200px, -200px); }
//   75%  { transform: translate(-150px, -200px); }
//   100%  { transform: translate(-150px, 0); }
// }

// @keyframes move_glow2 {
//   0%   { transform: translate(50px, 50px); }
//   25%  { transform: translate(-100px, 50px); }
//   50%  { transform: translate(-100px, 200px); }
//   75%  { transform: translate(50px, 200px); }
//   100% { transform: translate(50px, 50px); }
// }