.service-block {
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  justify-items: center;
  gap: 16px;
  padding: 22px;
  border: 2px solid var(--border-color);
  border-radius: 24px;
  background: #fff;
  box-shadow: var(--shadow);
  text-align: center;
  transition: background .3s, border .3s;

  @media (max-width: 767px) {
    padding: 20px;
    border-radius: 20px;
  }

  &__img {
    width: auto;
    height: 100px;
    object-fit: cover;
  }

  &__title {
    max-width: 128px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
  }

  &:hover {
    // padding: 23px;
    // border-width: 1px;
    border-color: var(--mintgreen);
    background: #EEFAF8;
    box-shadow: 0 0 0 2px rgba(45, 193, 167, 0.24);
  }

  &--extended {
    display: grid;
    grid-template-areas: "wrapper";
    grid-template-columns: 100%;
    align-content: stretch;
    padding: 0;
    border-radius: 24px;
    text-align: left;
    overflow: hidden;

    .service-block__img {
      display: block;
      width: 128px;
      height: 128px;
      margin: 0 -24px -24px auto;
    }

    .service-block__title {
      display: inline-grid;
      max-width: 210px;
      margin-top: 0;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;

      &--grad-style {
        background: linear-gradient(90deg, #EFEFEF 0%, #FFFFFF 82.21%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        text-shadow: var(--text-shadow);
      }
    }

    .service-block__front,
    .service-block__back {
      grid-area: wrapper;
      padding: 24px;
    }

    .service-block__front {
      position: relative;
      display: grid;
      grid-template-columns: 100%;
      align-content: space-between;
      background: linear-gradient(121deg, #93DCC5 0%, #C2ECCF 100%);
      @extend .transition;

      &::after {
        content: '';
        position: absolute;
        bottom: -46px;
        left: -46px;
        width: 168px;
        height: 168px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='122' height='122' fill='none'%3E%3Crect width='166' height='166' x='-45' y='1' stroke='%23fff' stroke-opacity='.2' stroke-width='2' rx='79'/%3E%3Crect width='110' height='110' x='-17' y='29' stroke='%23fff' stroke-opacity='.2' stroke-width='2' rx='51'/%3E%3Crect width='64' height='64' x='6' y='52' fill='%23fff' fill-opacity='.12' rx='28'/%3E%3Crect width='62' height='62' x='7' y='53' stroke='%23fff' stroke-opacity='.16' stroke-width='2' rx='27'/%3E%3Cg filter='url(%23a)'%3E%3Cpath stroke='%23fff' stroke-miterlimit='10' stroke-opacity='.56' stroke-width='1.5' d='M41.405 90.599H34.58a1.875 1.875 0 1 1 0-3.75h1.753L30.09 80.52a1.875 1.875 0 0 1-.178-2.485 1.762 1.762 0 0 1 1.378-.637 1.726 1.726 0 0 1 1.266.515l3.806 3.807 3.825-2.87a1.79 1.79 0 0 1 2.344.17 16.107 16.107 0 0 1 3.89 6.318l.057.178'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='28' height='28' x='24' y='70' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.14 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_678_1819'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_678_1819' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") right top no-repeat;
        pointer-events: none;
      }
    }

    .service-block__back {
      opacity: 0;
      visibility: hidden;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(121deg, #93DCC5 0%, #C2ECCF 100%);
      @extend .transition;
    }

    .service-block__list {
      margin-top: 20px;
    }

    &:hover {
      box-shadow: var(--shadow);
      border-color: var(--border-color);

      .service-block__front {
        opacity: 0;
        visibility: hidden;
      }

      .service-block__back {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}