.statistics-block {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "icon number"
    "icon title";
  column-gap: 18px;
  padding: 17px 19px 28px 17px;
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 18px;
  background: #A6A6A652;
  color: #fff;

  @media (max-width: 767px) {
    column-gap: 20px;
    padding: 17px 19px 32px 17px;
    background: rgba(225, 225, 225, 0.32);
    backdrop-filter: blur(8.30892px);
  }

  &__icon-wrapper {
    grid-area: icon;
    display: grid;
    place-content: center;
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(11.5663px);
    border-radius: 8.6747px;

    @media (max-width: 767px) {
      width: 48px;
      height: 48px;
      backdrop-filter: none;
    }
  }
  
  &__icon {
    @media (max-width: 767px) {
      width: 24px;
      height: 24px;
    }
  }

  &__number,
  &__title {
    @media (max-width: 767px) {
      letter-spacing: 0.01em;
    }
  }

  &__number {
    margin-top: -6px;
    font-weight: 500;
    font-size: 40.48px;
    
    @media (max-width: 767px) {
      font-size: 51.11px;
    }
  }

  &__suffix {
    font-weight: 400;
    color: var(--lightgreen);
  }

  &__title {
    font-size: 11.57px;

    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
}