.swiper-pagination {
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-horizontal-gap: 3px;
  --swiper-pagination-bullet-border-radius: 0;
  --swiper-pagination-color: var(--darkgreen);

  .swiper-pagination-bullet {
    @extend .transition;
  }

  .swiper-pagination-bullet-active {
    width: 16px;
    --swiper-pagination-bullet-border-radius: 3px;
  }

  &--circle-style {
    --swiper-pagination-bullet-inactive-color: #E0E8B6;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 2.5px;
    --swiper-pagination-bullet-border-radius: 50%;

    .swiper-pagination-bullet-active {
      width: 6px;
    }
  }
}

.swiper-thumbs-pagination {
  .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
    background: transparent;
  }
}