.tariff-block {
  display: grid;
  grid-template: auto 1fr / 100%;
  padding: 29px 12px 9px 10px;
  border: 3px solid #fff;
  border-radius: 26px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 545 458' fill='none'%3E%3Cmask id='a' width='545' height='458' x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Crect width='545' height='458' fill='%23fff' rx='28'/%3E%3C/mask%3E%3Cg filter='url(%23b)' mask='url(%23a)' opacity='.47'%3E%3Cellipse cx='83.822' cy='119' fill='%232dc1a7' opacity='.7' rx='232' ry='88.822' transform='rotate(-90 83.822 119)'/%3E%3Cellipse cx='405.926' cy='101.5' fill='%23005e59' opacity='.45' rx='209.5' ry='151.291' transform='rotate(-90 405.926 101.5)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='b' width='1062.22' height='964' x='-255' y='-363' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_159_2856' stdDeviation='125'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") center / cover no-repeat;

  &__title-and-text {
    margin-bottom: 11px;
    margin-left: 12px;
  }

  &__title {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: -0.02em;
  }

  &__text {
    font-size: 14.4px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(30, 30, 30, 0.8);
  }

  &__list-and-button {
    display: grid;
    grid-template: 1fr auto / 100%;
    padding-top: 19px;
    border-radius: 18px;
    background: #fff;
  }

  &__list {
    margin: 0 17px 38px;
  }

  &__btn {
    width: 100%;
  }

  &--style-2 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 544 458' fill='none'%3E%3Cmask id='a' width='544' height='458' x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Crect width='544' height='458' fill='%23fff' rx='28'/%3E%3C/mask%3E%3Cg fill='%233dc6ac' filter='url(%23b)' mask='url(%23a)' opacity='.47'%3E%3Cellipse cx='83.983' cy='119' opacity='.7' rx='232' ry='88.983' transform='rotate(-90 83.983 119)'/%3E%3Cellipse cx='406.669' cy='101.5' opacity='.45' rx='209.5' ry='151.565' transform='rotate(-90 406.669 101.5)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='b' width='1063.23' height='964' x='-255' y='-363' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_159_2790' stdDeviation='125'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  }

  &--style-3 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 543 447' fill='none'%3E%3Cmask id='a' width='543' height='447' x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Crect width='543' height='447' fill='%23fff' rx='28'/%3E%3C/mask%3E%3Cg filter='url(%23b)' mask='url(%23a)' opacity='.47'%3E%3Cellipse cx='83.822' cy='119' fill='%2320ffa5' opacity='.7' rx='232' ry='88.822' transform='rotate(-90 83.822 119)'/%3E%3Cellipse cx='405.935' cy='101.5' fill='%23f2f215' opacity='.45' rx='209.5' ry='151.291' transform='rotate(-90 405.935 101.5)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='b' width='1062.23' height='964' x='-255' y='-363' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_159_2824' stdDeviation='125'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  }
}