.technologies-section {
  padding: 81px 0 96px;
  background: linear-gradient(0deg, #005E59 0%, #209E6D 140.41%);
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  color: #fff;

  &__text-wrapper {
    max-width: 1220px;
    margin: 0 auto 31px;
  }

  &__title {
    max-width: 504px;
    margin-bottom: 13px;
  }

  &__description {
    font-size: 18px;
    line-height: 1.44;
  }
}