.technologies-section {
  padding: 81px 0 96px;
  background: linear-gradient(0deg, #005E59 0%, #209E6D 140.41%);
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  color: #fff;

  @media (max-width: 1199px) {
    padding: 72px 0 69px;
  }

  &__text-wrapper {
    max-width: 1284px;
    margin: 0 auto 31px;
    padding: 0 32px;

    @media (max-width: 767px) {
      padding-bottom: 24px;
      border-bottom: 0.51px solid rgba(255, 255, 255, 0.2);
      text-align: center;
    }
  }

  &__title {
    max-width: 504px;
    margin-bottom: 13px;

    @media (max-width: 767px) {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 1.44;

    @media (max-width: 1199px) {
      font-size: 17px;
    }
  }
}