.testimonial-section {
  padding: 96px;
  background: #fff;

  &__container {
    position: relative;
  }

  .swiper-pagination {
    --swiper-pagination-bottom: -30px;
  }

  @media (max-width: 1199px) {
    padding: 80px 0;
  }

  @media (max-width: 1023px) {
    padding: 64px 0;
  }

  &__buttons-list {
    position: absolute;
    right: 56px;
    bottom: 64px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}