.testimonial-section {
  padding: 96px;
  background: #fff;

  &__container {
    position: relative;
  }

  &__pagination {
    --swiper-pagination-bottom: -34px;
  }

  @media (max-width: 1199px) {
    padding: 80px 0;
  }

  @media (max-width: 1023px) {
    padding: 64px 0;
  }
}