.video-preview {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "wrapper";

  @media (max-width: 767px) {
    min-height: 229px;
  }

  &__img,
  &__play-btn {
    grid-area: wrapper;
  }

  &__img {
    height: auto;
    border-radius: 28px;

    @media (max-width: 767px) {
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__play-btn {
    justify-self: center;
    align-self: center;
  }
}